$color-primary: #534fb8a9;
$color-light: hsla(243, 53%, 46%, 0.953);
$color-dark: #16128fda;
$color-black: #000000;
$color-background: #fff;
$color-grey-light-1: rgb(255, 251, 251);

$font-for-para: cursive;
