* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  font-size: 7px;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: rgb(202, 146, 146);
  padding: 3rem;
}
