.primary-heading {
  color: $color-black;
  text-transform: uppercase;
}
.name {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  /* letter-spacing: 0.1rem; */
  animation-name: moveInLeft;
  animation-duration: 2s;
  /* animation-delay: 2s; */
  animation-timing-function: ease-in;
  backface-visibility: hidden;
}
.text {
  display: block;
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
  text-align: 0.1rem;
  animation-name: moveRight;
  animation-duration: 2s;
  /* animation-delay: 2s; */
  animation-timing-function: ease-in;
  backface-visibility: hidden;
}

.text-box {
  position: absolute;

  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 1.6rem;
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 600;
  background-image: linear-gradient(to right, $color-light, $color-dark);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  transition: all.2s;
  letter-spacing: 1rem;

  &:hover {
    transform: skewY(20deg);
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
  }
}
.heading-tertiary {
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  font-family: cursive;
  color: $color-black;
}

.paragraph {
  font-size: 3rem;
  color: $color-black;
  font-family: $font-for-para;
  font-weight: lighter;
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
